name: "Backend CI"

on:
  pull_request:
    paths:
      - "backend/**"
  push:
    branches:
      - main
    paths:
      - "backend/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        working-directory: backend
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GH_TOKEN }}

      - name: Check
        run: nix flake check

      - name: Test
        run: nix shell .#ci -c uv run pytest

      - name: Build container
        run: nix build .#container
